<!-- SKETCH PARA LOGIN-->

<form action="form-action">
    <h3>Login Enfermagem</h3>
    <div class="form-group">
        <label for="exampleInputEmail1">Faça login com seu Email ou COREN</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Insira seu E-mail">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Senha</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
      </div>
</form>