<!-- SKETCH PARA FORM DE CADASTRO DE PACIENTES -->

<div class="form-group">
    <h5>Cadastro de Paciente</h5>
    <!-- NOME -->
    <div class="form-group">
        <label for="example-text-input">Nome Completo</label>
        <input class="form-control" type="text" placeholder="Nome" id="example-text-input">
      </div>
    
    <!-- ANIVERSARIO -->
    <div class="form-group">
        <label for="example-date-input">Date</label>
        <input class="form-control" type="date" id="example-date-input">
    </div>

    <!-- TELEFONE -->
    <div class="form-group ">
        <label for="example-tel-input">Telefone</label>
        <input class="form-control" type="tel" placeholder="(51) 9999-9999" id="example-tel-input">
    </div>

    <!-- EMAIL -->
    <div class="form-group">
        <label for="exampleInputEmail1">E-mail</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail do Paciente">
    </div>

    <!-- SENHA -->
    <div class="form-group">
        <label for="exampleInputPassword1">Senha</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
    </div>

    <button type="button" class="btn btn-dark">Cadastrar Paciente</button>

</div>